header {
    background-color: black;
    color: white;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 50px;
}

.listaHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.souNovo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 50px;
}

.souNovo button {
    height: 40px;
    width: 170px;
    border: 2px solid white;
    border-radius: 10px;
}

.souNovo button:hover {
    background-color: white;
    color: black;
}

.souNovo img {
    width: 30px;
}

.logoSib {
    width: 80px;
}